@mixin theme-dark {
    --gray-100: rgba(255, 255, 255, 0.1);
    --gray-200: rgba(255, 255, 255, 0.2);
    --gray-500: rgba(255, 255, 255, 0.5);
  
    --color-link: #84b2ff;
    --color-visited-link: #b88dff;
  
    --body-background: #1E1E1E;
    --body-font-color: #e9ecef;
  
    --icon-filter: brightness(0) invert(1);
  
    --hint-color-info: #6bf;
    --hint-color-warning: #fd6;
    --hint-color-danger: #f66;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h2, h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

